Proyecto IA- Inventario XYZ.blueprint.json
{
    "name": "Proyecto IA: Inventario XYZ",
    "flow": [
        {
            "id": 4,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 1,
                "sheetId": "sales_data_sample",
                "__IMTCONN__": 9158278,
                "spreadsheetId": "/1mRDVBn5BjZs8oBr6_t4n47F9lpvaPocbxjBu357GlN4",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -697,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "sales_data_sample"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (a.rocafit@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Proyecto final (Ación de Inventario y Logística Mejorada con IA)"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "ORDERNUMBER (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "QUANTITYORDERED (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "PRICEEACH (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "ORDERLINENUMBER (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "SALES (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "ORDERDATE (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "STATUS (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "QTR_ID (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "MONTH_ID (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "YEAR_ID (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "PRODUCTLINE (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "MSRP (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "PRODUCTCODE (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "CUSTOMERNAME (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "PHONE (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "ADDRESSLINE1 (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "ADDRESSLINE2 (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "CITY (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "STATE (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "POSTALCODE (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "COUNTRY (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "TERRITORY (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "CONTACTLASTNAME (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "CONTACTFIRSTNAME (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "DEALSIZE (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 31,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -20,
                    "y": -11
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 4
                            },
                            "filter": {
                                "name": "Ruta Alerta Alta Demanda Motos USA",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`10`}}",
                                            "b": "Motorcycles",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{4.`20`}}",
                                            "b": "USA",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{4.`1`}}",
                                            "b": "45",
                                            "o": "number:greater"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "1": "{{4.`1`}}",
                                "10": "{{4.`10`}}",
                                "12": "{{4.`12`}}",
                                "20": "{{4.`20`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 905,
                                    "y": -22
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Watch New Rows [4]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 9,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 10070658
                            },
                            "mapper": {
                                "text": "-Alerta de Alta Demanda Estacional para Motocicletas en USA",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "D08STF47DRS",
                                "channelType": "im",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1560,
                                    "y": -21
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "a.rocafit"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Direct message"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Proyecto final (10ptapeoi25.slack.com - a.rocafit)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "User",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "telegram:SendReplyMessage",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 10117492
                            },
                            "mapper": {
                                "text": "🚨 Alerta de Inventario 🚨\nTipo: Crítica - Alta Demanda\nProducto:{{8.array[].`10`}}{{8.array[].`12`}}\nPaís:{{8.array[].`20`}}\nCantidad Ordenada:{{8.array[].`1`}}\n¡Acción requerida!",
                                "chatId": "1880560626",
                                "parseMode": "",
                                "replyMarkup": "",
                                "messageThreadId": "",
                                "replyToMessageId": "",
                                "replyMarkupAssembleType": "reply_markup_enter"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2059,
                                    "y": -21
                                },
                                "restore": {
                                    "expect": {
                                        "parseMode": {
                                            "label": "Empty"
                                        },
                                        "disableNotification": {
                                            "mode": "chose"
                                        },
                                        "replyMarkupAssembleType": {
                                            "label": "Enter the Reply Markup"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "telegram"
                                            },
                                            "label": "My Telegram Bot connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:telegram",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "chatId",
                                        "type": "text",
                                        "label": "Chat ID",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    },
                                    {
                                        "name": "messageThreadId",
                                        "type": "number",
                                        "label": "Message Thread ID"
                                    },
                                    {
                                        "name": "parseMode",
                                        "type": "select",
                                        "label": "Parse Mode",
                                        "validate": {
                                            "enum": [
                                                "Markdown",
                                                "HTML"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "disableNotification",
                                        "type": "boolean",
                                        "label": "Disable Notifications"
                                    },
                                    {
                                        "name": "disableWebPagePreview",
                                        "type": "boolean",
                                        "label": "Disable Link Previews"
                                    },
                                    {
                                        "name": "replyToMessageId",
                                        "type": "number",
                                        "label": "Original Message ID"
                                    },
                                    {
                                        "name": "replyMarkupAssembleType",
                                        "type": "select",
                                        "label": "Enter/Assemble the Reply Markup Field",
                                        "validate": {
                                            "enum": [
                                                "reply_markup_enter",
                                                "reply_markup_assemble"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "replyMarkup",
                                        "type": "text",
                                        "label": "Reply Markup"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 4
                            },
                            "filter": {
                                "name": "Alerta de Baja Demanda (Trains)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`10`}}",
                                            "b": "Trains",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{4.`1`}}",
                                            "b": "5",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "1": "{{4.`1`}}",
                                "10": "{{4.`10`}}",
                                "12": "{{4.`12`}}",
                                "20": "{{4.`20`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -450
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Watch New Rows [4]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 14,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 10070658
                            },
                            "mapper": {
                                "text": "-Alerta de Baja Demanda (Trains)",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "D08STF47DRS",
                                "channelType": "im",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1619,
                                    "y": -461
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "a.rocafit"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Direct message"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Proyecto final (10ptapeoi25.slack.com - a.rocafit)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "User",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 4
                            },
                            "filter": {
                                "name": "Alerta de Problema de Envío",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`6`}}",
                                            "b": "On Hold",
                                            "o": "text:equal"
                                        }
                                    ],
                                    [
                                        {
                                            "a": "{{4.`6`}}",
                                            "b": "Disputed",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "1": "{{4.`1`}}",
                                "10": "{{4.`10`}}",
                                "12": "{{4.`12`}}",
                                "20": "{{4.`20`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 899,
                                    "y": 390
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Watch New Rows [4]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 15,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 10070658
                            },
                            "mapper": {
                                "text": "-Alerta de Problema de Envío",
                                "parse": false,
                                "mrkdwn": true,
                                "channel": "D08STF47DRS",
                                "channelType": "im",
                                "channelWType": "list"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1646,
                                    "y": 385
                                },
                                "restore": {
                                    "expect": {
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "a.rocafit"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Direct message"
                                        },
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack2"
                                            },
                                            "label": "Proyecto final (10ptapeoi25.slack.com - a.rocafit)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "User",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}